{% load static %}
<head>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel="stylesheet">

    <link href="{% static 'main/css/main.css' %}" rel="stylesheet">

    <script src="{% static 'main/js/main.js' %}"></script>
</head>
<body> 
    <header>
		<p class="header-title">Physio Motion Transfer</p>
		<p class="header-subtitle">Human motion and appearance transfer for physiotherapy purposes</p>
	</header>

    <div class="App">
        <div class="row">
            <div class="col-sm">
                <div class="row-box row">
                   <p tabindex="0" for="my-file1" class="label"><i class="fa fa-child" aria-hidden="true"></i> Desired position</p>
                </div>
                <div class="image-section row">
                    <div class="project-container">
                        <img id="videoprev" class='update-img' src="http://127.0.0.1:8000/videofeed/" alt="">                        
                    </div>
                </div>
            </div>
            
            <div>
                <div id='pb-ui' class="progress-video" >
				    <div class="progress-bar-video" role="progressbar" style="background-color: {{percLevel}}; height: {{percentage}}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        <span>{{percentage}}%</span>
                    </div>
			    </div>
            </div>

            <div class="col-sm">
                <div class="row-box row">
                    <p tabindex="0" for="my-file2" class="label"><i class="fa fa-running" aria-hidden="true"></i> Your position</p>
                </div>
                <div class="image-section row">
                    <div class="project-container">
                        <img id="camprev" src="http://127.0.0.1:8000/livefeed/" alt="">
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-box col">
                <form action="#">
                    <div class="play-stop input-file-container">  
                        <a href="{% url 'index' %}" style="width: 100%;" class="input-file if-video" name="video" type="file"></a>
                        <label tabindex="0" for="my-file3" class="stop-button input-file-trigger"><i class="fa fa-home" aria-hidden="true"></i> Back to home</label>
                    </div>
                </form>
            </div>
            <div class="col-box col">
                <form action="#">
                    <div class="input-file-container">  
                        <a href="{% url 'playVideo' %}" style="width: 100%; height: 100%;" class="input-file if-video" name="video" type="button"></a>
                        <label tabindex="0" for="my-file3" style="background-color: green" class="play-button input-file-trigger"><i class="fa fa-redo" aria-hidden="true"></i> Play again</label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid"> 
            <a class="navbar-brand">&copy; 2021 Fábio Oliveira</a>
            <div class="collapse navbar-collapse" id="navbar20">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-1"><a class="nav-link" href="https://github.com/Fabioo29/physio-motion-transfer"><i class="fa-footer fab fa-github fa-fw fa-lg"></i></a></li>
                    <li class="nav-item mx-1"><a class="nav-link" href="https://www.linkedin.com/in/fabioo29/"><i class="fa-footer fab fa-linkedin-in fa-fw fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</body>

